<section class="vh-100 gradient-custom" style=" background-image: url('https://ua.edu.lb/ContentFiles/31451Image.jpg');
background-repeat: no-repeat;
background-size:cover;
position: relative;
outline: 0px;">
    <div class="container py-4 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-8 col-xl-9">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-6">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-8">Ajouter une équipe</h3>
                        <form>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="nomequi">Nom de l'equipe</label>
                                        <input type="text" id="nomequi" [(ngModel)]="currentEquipe.nomequi" name="nomequi" class="form-control form-control-lg" />

                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div class="form-outline datepicker w-100">
                                        <label for="datefond" class="form-label">Date fondation</label>
                                        <input type="text" [(ngModel)]="currentEquipe.datefond" name="datefond" class="form-control form-control-lg" id="datefond" />
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="Passport">Passeport</label>
                                        <input type="text" id="Passport" [(ngModel)]="currentEquipe.passeport" name="passeport" class="form-control form-control-lg" />
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="emailAddress">Email</label>
                                        <input type="email" id="emailAddress" [(ngModel)]="currentEquipe.emailAddress"  name="emailAddress" class="form-control form-control-lg" />
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="Adresse">Adresse</label>
                                        <input type="text" id="adresse" [(ngModel)]="currentEquipe.adresse" name="adresse" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                        <label class="form-label" for="Fax">Fax</label>
                                        <input type="tel" id="fax" [(ngModel)]="currentEquipe.fax" class="form-control form-control-lg" />
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4  pb-2">
                                    <div class="form-outline">
                                        <label class="form-label" for="telephone">Téléphone</label>
                                        <input type="tel" id="telephone" [(ngModel)]="currentEquipe.telephone" name="telephone" class="form-control form-control-lg" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Ligue</label>
                                        <select class="form-control form-control-lg"   name="Typehand">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Comité</label>
                                        <select class="form-control form-control-lg"    name="Typehand">

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <label class="form-label"><button class="btn btn-success btn-lg btn-block"
                                        type="submit" (click)="updateEquipe()">Ajouter</button></label>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>