<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom de l'utilisateur</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody *ngFor="let User of Users">
                    <tr>
                        <td>{{User.id}}</td>
                        <td>{{User.nom}}</td>
                        <td>{{User.role.nomrole}}</td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="deleteUser(User)">Supprimer</a></td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateUser',User.id]">Modifier</a></td>
                    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>