<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom de l'utilisateur</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody *ngFor="let User of User">
                    <tr>
                        <td>{{User.idUser}}</td>
                        <td>{{User.nomUser}}</td>
                        <td>{{User.roleUser.nomrole}}</td>
                        <td><a class="btn btn-danger" (click)="deleteUser(User)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/updateUser',User.idUser ]">Modifier</a></td>
                    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>