<section class="vh-100" style="background-color: #6a11cb;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="alert alert-danger" *ngIf="erreur==1">
                            <strong>login ou mot de passe erronés</strong>
                        </div>
                        <h3 class="mb-5">Sign in</h3>


                        <div class="form-outline mb-4">
                            <label class="form-label" for="text">Nom Utilisateur</label>
                            <input type="text" id="text" [(ngModel)]="login.username"
                                class="form-control form-control-lg" />

                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="typePasswordX-2">Mot de passe</label>
                            <input type="password" id="typePasswordX-2" class="form-control form-control-lg"
                                [(ngModel)]="login.password" />

                        </div>

                        <!-- Checkbox -->

                        <button class="btn btn-primary btn-lg btn-block" type="button"
                            (click)="onLoggedin()">connexion</button>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>