<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Modifier une comite</h3>
                        <form>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="nomecom">Nom</label>
                                        <input type="text" [(ngModel)]="currentcomite.nomecom" name="nomecom"
                                            class="form-control form-control-lg" />

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="emailAddresscom">Mail</label>
                                        <input type="mail" [(ngModel)]="currentcomite.emailAddresscom"
                                            name="emailAddresscom" class="form-control form-control-lg" />

                                    </div>

                                </div>
                            </div>

                            <div class="row">



                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline datepicker w-100">
                                        <label for="adressecom" class="form-label">Adresse</label>
                                        <input type="text" [(ngModel)]="currentcomite.adressecom" name="adressecom"
                                            class="form-control form-control-lg" />

                                    </div>

                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="telephonecom">Numero telephone</label>
                                        <input type="tel" [(ngModel)]="currentcomite.telephonecom" name="telephonecom"
                                            class="form-control form-control-lg" />
                                    </div>


                                </div>

                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label" for="faxcom">Fax</label>
                                        <input type="tel" [(ngModel)]="currentcomite.faxcom" name="faxcom"
                                            class="form-control form-control-lg" />
                                    </div>


                                </div>



                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Type Handicape</label>
                                        <select class="form-control form-control-lg" name="Typehand">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <button type="submit" (click)="updatecomite()" class="btn btn-success">Modifer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>