<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Gestion des Produits</title>
</head>

<body>
  <header class="site-navbar py-4" role="banner">

    <div class="container">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a href="index.html">
            <img src="./assets/soccer-master/images/logo.png" alt="Logo">
          </a>
        </div>
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a href="index.html" class="nav-link">Home</a></li>
              <li><a href="./assets/soccer-master/matches.html" class="nav-link">matches</a></li>
              <li><a href="./assets/soccer-master/players.html" class="nav-link">Players</a></li>
              <li><a href="./assets/soccer-master/blog.html" class="nav-link">Blog</a></li>
              <li><a href="./assets/soccer-master/contact.html" class="nav-link">Contact</a></li>
            </ul>
          </nav>

          <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
              class="icon-menu h3 text-white"></span></a>
        </div>
      </div>
    </div>

  </header>
  </body>
<router-outlet></router-outlet>